---
---

<div class="vhs-stripes">
  <div class="stripe stripe-pink"></div>
  <div class="stripe stripe-yellow"></div>
  <div class="stripe stripe-green"></div>
  <div class="stripe stripe-blue"></div>
</div>

<style>
  .vhs-stripes {
    width: 100%;
    height: 32px;
    display: flex;
    flex-direction: column;
  }

  .stripe {
    height: 8px;
    width: 100%;
  }

  .stripe-pink { background-color: var(--pink); }
  .stripe-yellow { background-color: var(--yellow); }
  .stripe-green { background-color: var(--green); }
  .stripe-blue { background-color: var(--blue); }
</style>